$prj_name: 'lang';
$grey: #6f6f6f;
$grey2: #e2e2e2;
$grey3: #989898;
$black: #343a40;
$white: #fff;
$red: #8B0000;
$red2: #c61a1a;
$red3: #e91c1c;
$blue: #4e73df;
$light-blue:#C4D3F6;
$light-purple:#ececff;
$light-green:rgb(226, 238, 224);
$font: 'Open Sans', 'Arial', sans-serif;

$left-width-desktop: 100px;
$left-width-logo: 175px; 
$left-item-height: 100px;
$left-height-mb: 60px;
$banner_h: 350px;
$banner_h_mb: 200px;
$top_h: 80px;
$top_h_mb: 40px;

$news_h: 200px;

$paggingHeight: 40px;